body {
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {

    color: #2ecc71; /* Cor escolhida pelo aluno B */
    font-size: 3rem; /* Tamanho escolhido pelo aluno B */
    text-align: center; /* Alinhamento escolhido pelo aluno A */
}